@import "reset.css";

/*Контент*/
body{
    background: #c2ffe3;
    font-size: 14px;
    font-family: sans-serif;
}
.head{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.head span{
    text-decoration: underline;
}
.link{
    margin-bottom: 10px;
    margin-top: 10px;
}
.link a{
    text-decoration: none;
    padding: 5px;
    background: rgba(127, 130, 255, 0.43);
    border-radius: 5px;

}
.link a:hover{
    background: rgba(86, 77, 255, 0.43);
}

.content{
    
}
/*.content table{*/
    /*width: 100%;*/
    /*font-size: 18px;*/
    /*border-collapse: collapse;*/
/*}*/
/*.content table th{*/
    /*background: rgba(131, 207, 255, 0.43);*/
    /*border-bottom: 1px solid rgba(48, 97, 85, 0.84);*/
/*}*/
/*.content table td{*/
    /*text-align: center;*/
    /*background: rgba(17, 126, 255, 0.43);*/
    /*border-bottom: 1px solid rgba(48, 97, 85, 0.84);*/
/*}*/
/*Авторизация*/
.avt{
    text-align: center;
    font-size: 25px;
}
.avt input[type^='email'], input[type^='password'], input[type^='text']
{
    padding: 5px 0;
    width: 200px;
    background: rgba(45, 97, 95, 0.16);
}
.avt input[type^='submit']{
    padding: 5px 0;
    width: 200px;
}
.logo{
    margin-top: 10px;
    font-weight: bold;
}
/*Регистрация*/





















